@using PortailRH.BLL.Dtos.Conge
@model CongeDto

<form action="/EmpConge/ModifierConge" method="post">
    <input type="hidden" name="id" value="@Model.Id" />

    <div class="modal-body">
        <div class="form-group">
            <label for="dateDebut" class=" form-control-label">Date De Début</label>
            <input type="date" id="dateDebut" name="DateDebut" class="form-control" required value="@Model.DateDebut!.Value.ToString("yyyy-MM-dd")" />
            <span class="text-danger field-validation-valid" data-valmsg-for="DateDebut" data-valmsg-replace="true"></span>
        </div>

        <div class="form-group">
            <label for="dateFin" class=" form-control-label">Date De Fin</label>
            <input type="date" id="dateFin" name="DateFin" class="form-control" required value="@Model.DateFin!.Value.ToString("yyyy-MM-dd")" />
            <span class="text-danger field-validation-valid" data-valmsg-for="DateFin" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="submit" class="btn btn-info">Modifier</button>
    </div>
</form>